body {
  margin: 0;
}
.navigationBar {
  display:flex;
  align-items:center;
  justify-content: space-between;
  height:50px;
  background-color: #76D5A7;
  color: white;
  .itemsLinks {
    margin-right: 5vw;
  }
  a {
    text-decoration: none;
    padding: 10px;
    color:white;
    &:hover {
      color: #E9F7F7;
    }
  }

  .logoImg {
    display: flex;
    justify-content: center;
    height: 65px;
    margin-left: 2vw;
    img {
      height: 100%;
      width: auto;
    }
  }


  }
.carouselContainer {
  height: 679px;
  width: 100vw;

  img {
    height: 679px;
    width: auto;
    object-fit: cover;

  }
}
.infoMarina {
  height: 600px;
  width: auto;

}