body {
  margin: 0;
}

.navigationBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  background-color: #76D5A7;
  box-shadow: inset 0px -5px 14px 1px #838f7f;

  .itemsLinks {
    margin-right: 5vw;
  }

  a {
    text-decoration: none;
    padding: 10px;
    color: white;

    &:hover {
      color: #E9F7F7;
    }
  }

  .logoImg {
    display: flex;
    justify-content: center;
    height: 65px;
    margin-left: 2vw;

    img {
      height: 100%;
      width: auto;
    }
  }


}

.carouselContainer {
  height: 679px;
  width: 100vw;

  img {
    height: 679px;
    width: auto;
    object-fit: cover;

  }
}

.infoMarina {
  height: 500px;
  width: auto;
  margin-left: 20px;


}

.infoContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;


  &__img {
    border-radius: 25%;


  }
  &__div{
    height: 20%;

  }

}

.infoContact {
  margin: 30px;

}