body {
  margin: 0;
}
.bodyForm {
  font-family: sans-serif;
  background: white;
}
form {
  margin: 5rem auto 0;
  width: 24rem;
}
.divForm {
  width: inherit;
  margin-bottom: 1rem;
}
label {
  display: block;
  color: #fff;
}
input {
  margin: 0.5rem 0;
  padding: 0 0.5rem;
  width: inherit;
  height: 2rem;
  border-color: #76D5A7;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  height: 2.5rem;
  font-size: 1rem;
  color: #fff;
  background: #0971f1;
  cursor: pointer;
}

p {
  margin: 0;
  color: #ff9900;
}

.navigationBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  background-color: #76D5A7;
  box-shadow: inset 0px -5px 14px 1px #838f7f;

  .itemsLinks {
    margin-right: 5vw;
  }

  a {
    text-decoration: none;
    padding: 10px;
    color: white;

    &:hover {
      color: #E9F7F7;
    }
  }

  .logoImg {
    display: flex;
    justify-content: center;
    height: 65px;
    margin-left: 2vw;

    img {
      height: 100%;
      width: auto;
    }
  }


}

.carouselContainer {
  height: 679px;
  width: 100vw;

  img {
    height: 679px;
    width: auto;
    object-fit: cover;

  }
}

.infoMarina {
  height: 500px;
  width: auto;
  margin-left: 20px;


}

.infoContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;


  &__img {
    border-radius: 15%;
    height: 60vh;
    border: #90ac58 1px;
    margin-top: 50px;


  }

  &__div {
    height: 5%;

  }

}

.infoContact {

  padding: 0 50px 0 50px;
  margin-top: 50px;


}

.infoText {
  margin-left: auto;
  margin-right: auto;
  width: 70em

}


.wrapper {
  display: flex;
  justify-content: space-around;

}

.card {
  overflow: hidden;
  width: 50vw;
  height: 70vh;
  margin: 3rem;
  box-shadow: 0 2px 20px #838f7f;
  border-radius: 8%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: ease-in 200ms;


    &__image {
      height: 8rem;
      width: 100%;
      object-fit: cover;
    }

    &__title {
      padding: 1rem;
    }

    &__description {
      padding: 0 1rem;
    }

    &__btn {
      padding: 1rem;
      font-family: inherit;
      font-weight: bold;
      font-size: 1rem;
      margin: 1rem;
      border: 2px solid darkgrey;
      background: transparent;
      color: aqua;
      border-radius: 5px;
      transition: background 200ms ease-in, color 200ms ease-in;

      &:hover {
        transform: scale(1.02);
      }

      &:hover &__btn {
        background: #E9F7F7;
        color: white;
      }
    }

}
